
:global {
  html, body, #root {
    height: 100%;
  }
  body {
    background: #fafafa;
    .active {
      div {
        background-color: #FFA35E;
        color: #fff;
      }
    }
    .active_c {
      div {
        background-color: #fff !important;
        color: #FFA35E;
      }
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding-left: 0;
    }
    .ant-collapse-content {
      padding: 0 1px;
    }
    .arrow {
      display: none !important;
    }
  }
}
