.container {
  padding: 20px;
  .header {
    padding: 0 6px;
    .breadcrumb {
      padding-bottom: 10px;
      .bread {
        font-size: 16px;
        font-family: ".PingFang SC";
      }
      .active {
        color: #FF9800;
        font-size: 16px;
        font-family: ".PingFang SC";
      }
    }
    .head_right {
      line-height: 24px;
      text-align: right;
      .address_label {
        padding: 15px 12px;
      }
    }
  }
  .table_head {
    text-align: center;
  } 
  .table {
    text-align: center;
    .table_head {
      padding: 16px 10px;
      color: #FF9800;
      background-color: #EFF0F1;
    }
    table {
      padding: 0 10px;
      thead {
        margin-bottom: 20px;
        th {
          text-align: center;
          color: #FFA35E;
        }
      }
      tbody {
        td {
          padding: 0;
          div {
            border: 0;
            background-color: #fff;
          }
        }
      }
    }
    .appoint_title {
      padding-bottom: 5px;
      .appoint_id {
        border-bottom: 1px solid #FFA35E;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 10px;
      }
      .user_tab {
        padding: 15px 0 10px 0;
      }
      .img_content {
        display: table-cell;/*图片容器以表格的单元格形式显示*/
        // text-align: center; /* 实现水平居中 */
        vertical-align: middle; /*实现垂直居中*/
        img.ul_icon {
          vertical-align: middle; /*实现垂直居中*/ 
          height: 44px;
          padding: 4px 6px;
          // border: 1px solid #EFF0F1;
          line-height: 40px;
        }
        .ul_icon {
          vertical-align: middle; /*实现垂直居中*/ 
          line-height: 40px;
        }
        button {
          padding-right: 5px !important;
          background-color: #fff !important;
          border: none;
          color: #EC1C1C !important;
          :hover {
            color: #FFA35E;
          }
        }
      }
    }
    .appoint_title_c {
      padding-bottom: 5px;
      .appoint_id {
        border-bottom: 1px solid #FFA35E;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 10px;
      }
      .user_tab {
        
      }
      .img_content {
        display: table-cell;/*图片容器以表格的单元格形式显示*/
        text-align: center; /* 实现水平居中 */
        vertical-align: middle; /*实现垂直居中*/
        img.ul_icon {
          vertical-align: middle; /*实现垂直居中*/ 
          height: 60px;
          padding: 4px 6px;
          // border: 1px solid #EFF0F1;
          line-height: 60px;
        }
        .ul_icon {
          vertical-align: middle; /*实现垂直居中*/ 
          line-height: 60px;
        }
        button {
          padding-right: 5px !important;
          background-color: #fff !important;
          border: none;
          color: #EC1C1C !important;
          :hover {
            color: #FFA35E;
          }
        }
      }
    }
    .type_clo {
      .ul_icon {
        height: 25px;
      }
      .number {
        line-height: 25px;
      }
    }
    tr {
      text-align: center;
      td {
        // border: none;
        padding: 5px 8px;
        i.arrow {
          display: none !important;
        }
      }
    }
    tr:hover {
      background-color: rgba(0, 0, 0, 0);
      tr {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}