.modal_title {
  width: 100%;
  text-align: center;
  color: #FF9800;
  font-family: ".PingFang SC";
}
.modal_content {
  font-family: ".PingFang SC";
  height: 66vh;
  .left_pic_add {
    text-align: center;
    padding-top: 20px;
    .err_image_info {
      color: red;
    }
    .main_pic {
      font-size: 14px;
      color: #FF9800;
    }
    .ul_icon {
      width: 8vw;
      max-width: 120px;
    }
  }
  .right_content {
    padding-right: 6vw;
  }
  .c_detail {
    border-bottom: 1px solid #EFF0F1;
    padding: 14px 0;
    .c_type {
      padding: 10px 0;
    }
  }
  .d_detail {
    padding: 14px 0;
  }
  .col_title {
    color: #FF9800;
    font-size: 13px;
    padding-bottom: 6px;
    padding-right: 20px;
  }
}
.link_btn {
  a {
    color: #EC1C1C;
  }
}
.img_ul_icon {
  position: relative;
  margin: 5px;
  float: left;
  list-style-type: none;
  .delete_icon {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }
  :hover {
    color: red;
    font-size: 16px;
  }
  .ul_icon {
    width: 80px;
    height: 80px;
    margin: 8px;
  }
}
.inputContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 80px;
  .btn_add {
    line-height: 96px;
    padding-left: 20px;
    border: 1px solid #FF9800;
  }
  input {
    position: absolute;
      left: 0px;
      top: 0px;
      height: 80px;
      width: 80px;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      &:hover, &:active, &:focus, &:visited {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}
.name_label {
  line-height: 26px;
  color: #FD9727;
}
.tag {
  color: #F2C27F;
  border-radius: 20px;
  border-color: #F2C27F;
  text-align: center;
  background-color: transparent;
}
.selectRow {
  label {
    line-height: 25px;
  }
}